---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: victoria-metrics-operator
  namespace: argocd
spec:
  project: default
  source:
    path: victoria-metrics-operator
    repoURL: https://github.com/containerly/platform
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: victoria-metrics-system
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
