apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-operator
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: grafana-operator-system
  source:
    repoURL: https://github.com/grafana-operator/grafana-operator.git
    targetRevision: HEAD
    path: deploy/kustomize/operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
