apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-events-github
  namespace: argocd
spec:
  project: default
  source:
    path: argo-events-github
    repoURL: https://github.com/containerly/platform
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
